/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */
h1, h2 {
    font-size: 2em;
    font-weight: bold;
}

/* Layout containers */
.box-container {
    width: 75%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100;
}

.container {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Header styles */
header#head {
    background-color: #234d20;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

/* Dashboard elements */
.dashboard-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-btn, button {
    display: block;
    width: 100%;
    background-color: #c9df8a;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-btn:hover, button:hover {
    background-color: #234d20;
}

/* Form elements */
.activity-select, select {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Sidebar styles */
.sidebar {
    background-color: #c9df8a;
    color: white;
    position: fixed;
    top: 0;
    left: -250px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    padding: 15px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #232d20;
    padding-left: 10px;
}

/* Utility classes */
.hidden {
    display: none;
}

.D-container, .D_content {
    text-align: center;
}

/* Images */
img {
    max-width: 60%;
    max-height: 60%;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.3em;
    }

    select, button {
        font-size: 1em;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.2em;
    }

    select, button {
        font-size: 0.9em;
        padding: 8px;
    }
}
